.chat-container {
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
  padding: 24px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 100%;
  min-height: 16px;
  max-height: 104px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  overflow-y: hidden;
  resize: vertical;
  outline: none;
}

.dark-mode textarea {
  background-color: #555555;
  color: white;
  border: 1px solid #777;
}

form button {
  flex-grow: 1;
  height: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.loading {
  text-align: center;
  padding: 8px;
  color: #555;
  font-style: italic;
}

.dark-mode .messages {
  background-color: #444444;
}

.dark-mode .message.bot {
  background-color: #555555;
  color: #ffffff;
}

.dark-mode .message.user {
  background-color: #007bff;
}

.dark-mode input {
  background-color: #555555;
  color: white;
  border: 1px solid #777;
}
