h1 {
  font-family: fantasy;
  text-align: center;
}

.sidewalk {
  background-color: lightgray;
  border: 1px solid black;
  height: 250px;
}

.plaque {
  text-align: center;
  border: 1px solid black;
  font-family: cursive;
  background-color: gold;
}

img {
  height: 100px;
  border-radius: 50px;
}

h2 {
  text-decoration: underline;
}
