.container {
  height: 200px;
  width: 480px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: OldLace;
}

.name {
  font-size: 32px;
  font-family: Helvetica, sans-serif;
  text-shadow: 2px 1px #d3d3d3;
  text-align: center;
  color: MidnightBlue;
}

.job {
  font-size: 24px;
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
  color: SeaGreen;
}

.contact {
  font-size: 14px;
}

.email {
  font-family: monospace;
  color: DarkSlateGray;
}

.address {
  float: right;
  font-family: cursive, sans-serif;
}
